<!DOCTYPE html>
<html>
<head>
  <title>ChicagoSocialTrolley</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to "Events", events_url %> |
    <%= link_to "Groups", groups_url %> |
    <%= link_to "Venues", venues_url %> |
    <%= link_to "Users", users_url %> |
  </nav>


  <p><%= notice %></p>

  <%= yield %>

</body>
</html>
