<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Time:</b>
  <%= @event.time %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>
<p>
  <b>Venue:</b>
  <%= @event.venue.name %>
</p>
<p>
  <b>Location:</b>
  <%= @event.venue.address %>
</p>
<!-- Need to List all the users at the event -->


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
